In [1]:
from modules.preprocess_text import preprocess_text
import pandas as pd

In [2]:
path = '../data/casaData/'

In [3]:
df_id = pd.read_csv('unique_id.csv', index_col=0)

In [4]:
df_num_clean = pd.read_csv('trainListings_num.csv', index_col=0)

In [11]:
# df = pd.read_csv('trainListings_cleanID.csv', header=0, usecols=[x for x in range(17)])
df = pd.read_csv('trainListings_cleanID.csv', index_col=0)

/var/folders/fm/m7sbfrtn37dcz2lvxhvj6q0m0000gn/T/ipykernel_28827/1413773532.py:2: DtypeWarning: Columns (0,1,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('trainListings_cleanID.csv', index_col=0)

In [13]:
df_num_clean = df_num_clean[['id_clean', 'groupName', 'price_filled', 'bedroom_cats', 'bathroom_cats', 'area_totalLiving_filled']]

In [14]:
df_all = pd.merge(df_num_clean, df, how='left', left_on='id_clean', right_on='id_clean')

In [15]:
df_all = df_all[['id_clean', 'groupName', 'price_filled', 'bedroom_cats',
       'bathroom_cats', 'area_totalLiving_filled', 'title', 'description', 'features']]

In [30]:
df_unique = pd.merge(df_id, df_all, how='left', left_on='id1', right_on='id_clean')

In [31]:
import re

In [49]:
df_unique = df_unique.dropna(subset='description')
df_unique = df_unique.dropna(subset='title')

In [33]:
clean_desc=[]
for text in df_unique['description']:
    text = re.sub(r'\s+', ' ', text).strip()
    clean_desc.append(text)

In [91]:
def process_title(text_list):
    text_clean=[]
    for text in text_list:
        text = re.sub(r'https?://\S+|www\.\S+', '', text) # remove urls
        text = re.sub(r'<.*?>', '', text) # remove htmls
        text = re.sub(r'\s+', ' ', text).strip() #removes trailing white spaces and changes multiple spaces to one
        text = re.sub(r'(?<=[/.,])(?=[^\s])', ' ', text) # adds a space after a period or comma, avoid joining two words
        text = re.sub(r'[-/]', '', text)
        # text = re.sub(r'\w*\d\w*', '', text)
        word_list = text.split()
        text=" ".join([word for word in word_list if not word.isnumeric()])
        text = text.title()
        text_clean.append(text)
    return text_clean

In [95]:
temp = ['Santa Eulalia\t\t\t\t (Reference\n # V-0020 Paola)']

In [98]:
len('a')

1

In [96]:
temp_clean = process_title(temp)

In [97]:
temp_clean

['Santa Eulalia (Reference # V0020 Paola)']

In [110]:
def process_description(text_list):
    text_clean=[]
    for text in text_list:
        text = re.sub(r'https?://\S+|www\.\S+', '', text) # remove urls
        text = re.sub(r'<.*?>', '', text) # remove htmls
        text = re.sub(r'\s+', ' ', text).strip() #removes trailing white spaces and changes multiple spaces to one
        text = re.sub(r'(?<=[/.,])(?=[^\s])', ' ', text) # adds a space after a period or comma, avoid joining two words
        text = ' '.join(re.split(r'(?<=[.?!])\s+', text, 5)[:-1])
        text_clean.append(text)
    return text_clean

In [111]:
df_unique['clean_desc'] = process_description(df_unique['description'])
df_unique['clean_title'] = process_title(df_unique['title'])
# df_unique['clean_desc'] = df_unique

In [103]:
pd.set_option('display.max_colwidth', None)

In [112]:
df_unique.clean_desc.sample(3)

7206     Description Penthouse for sale of 108m2, Comprises 4 bedrooms and 2 toilets, 1 bedroom with en suite bathroom. Terrace overlooking the sea and the sunset. 365 days a year. Community pool for adults and children.
9457
14621
Name: clean_desc, dtype: object

In [113]:
temp = 'THIS IS A SENTENCE. THIS IS ANOTHER'

In [114]:
temp.capitalize()

'This is a sentence. this is another'

In [115]:
temp = '. '.join(i.capitalize() for i in temp.split('. '))

In [116]:
temp

'This is a sentence. This is another'

In [6]:
preprocess_text(temp, alpha=True)

['air condition garden use mint condition p']

In [2]:
df = pd.read_csv('trainListings_num.csv', index_col=0)

In [3]:
df.head()

,id_clean,sourceId,source_size,groupName,price_filled,price_cats,price_log,bedrooms_filled_median,bathrooms_filled_median,bedroom_cats,bathroom_cats,area_totalLiving_filled,area_totalLiving_cats,plotArea_filled,plotArea_cats
0,1,1.0,v_large,house,26500000.0,v_expensive,17.093,10.0,16.0,6+,6+,4000.0,v_large,820000.0,v_large
1,2,9.0,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,3000.0,v_large,1200000.0,v_large
2,3,14.0,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,3000.0,v_large,2743.0,v_large
3,4,37.0,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,3000.0,v_large,1200000.0,v_large
4,5,85.0,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,517.0,v_large,1200000.0,v_large

In [4]:
df.drop(columns=['id_clean', 'sourceId'], inplace=True)

In [5]:
df.head()

,source_size,groupName,price_filled,price_cats,price_log,bedrooms_filled_median,bathrooms_filled_median,bedroom_cats,bathroom_cats,area_totalLiving_filled,area_totalLiving_cats,plotArea_filled,plotArea_cats
0,v_large,house,26500000.0,v_expensive,17.093,10.0,16.0,6+,6+,4000.0,v_large,820000.0,v_large
1,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,3000.0,v_large,1200000.0,v_large
2,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,3000.0,v_large,2743.0,v_large
3,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,3000.0,v_large,1200000.0,v_large
4,v_large,house,26500000.0,v_expensive,17.093,10.0,12.0,6+,6+,517.0,v_large,1200000.0,v_large